:root {
  box-sizing: border-box;
  --small-gap: 15px;
  --small-padding: 12px;
  --small-margin: 18px;
  --medium-margin: 36px;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: 250px 1fr;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

.sidebar {
  height: 100vh;
  grid-column: 1 / 2;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: var(--small-padding);
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
}

.nav-container {
  display: flex;
  flex-direction: column;
  padding: var(--small-padding);
}

.default-task-container,
.project-task-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--small-gap);
}

.nav-container button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.125rem;
}

.main {
  grid-column: 2 / -1;
  padding: var(--small-padding);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--small-margin);
}

#add-task {
  font-weight: bolder;
  font-size: 1.125rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.task-row {
  display: flex;
  justify-content: space-between;
  padding: var(--small-padding);
  margin-bottom: 12px;
  border: 1px solid black;
}

.clear-task {  
  font-size: 1rem;
  color: red;
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: var(--medium-margin);
}